## Setup

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

# turn of data table rendering
pd.set_option('display.notebook_repr_html', False)

## Data set

In [4]:
# Constructing a beer sales DataFrame
df = pd.DataFrame({'Billy Beer': [13884, 23008, 17883, 24435, 49938],
                   'Lucky Lager': [34565, 83938, 59437, 28843, 48285],
                   'Triple Bock': [39987, 35512, 23542, 37729, 36647]})
df

   Billy Beer  Lucky Lager  Triple Bock
0       13884        34565        39987
1       23008        83938        35512
2       17883        59437        23542
3       24435        28843        37729
4       49938        48285        36647

In [7]:
l=list(np.arange(100))

In [9]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
np.quantile(l,0.75)

74.25

In [5]:
# Quick insights / descriptive statistics
df. describe()

         Billy Beer   Lucky Lager   Triple Bock
count      5.000000      5.000000      5.000000
mean   25829.600000  51013.600000  34683.400000
std    14115.302841  21934.601587   6443.542294
min    13884.000000  28843.000000  23542.000000
25%    17883.000000  34565.000000  35512.000000
50%    23008.000000  48285.000000  36647.000000
75%    24435.000000  59437.000000  37729.000000
max    49938.000000  83938.000000  39987.000000

## Call functions on a DataFrame

In [14]:
# Computing the mean sales for each brand
df.mean()

Billy Beer     25829.6
Lucky Lager    51013.6
Triple Bock    34683.4
dtype: float64

In [15]:
# Calculate the 75% quartile
df.quantile(q=.75)

Billy Beer     24435.0
Lucky Lager    59437.0
Triple Bock    37729.0
Name: 0.75, dtype: float64

In [16]:
# Calculate the sample standard deviation
df.std()

Billy Beer     14115.302841
Lucky Lager    21934.601587
Triple Bock     6443.542294
dtype: float64

In [17]:
# Calculate the population standard deviation
df.std(ddof=0)

Billy Beer     12625.110670
Lucky Lager    19618.904084
Triple Bock     5763.279434
dtype: float64

## Using Apply or Lambda expression

In [18]:
# The same as calling .mean on the DataFrame
df.apply(np.mean)

Billy Beer     25829.6
Lucky Lager    51013.6
Triple Bock    34683.4
dtype: float64

In [19]:
# Same as above
np.mean(df)

Billy Beer     25829.6
Lucky Lager    51013.6
Triple Bock    34683.4
dtype: float64

In [22]:
[x-np.mean(l)/np.std(l) for x in l]

[-1.7148160424389376,
 -0.7148160424389376,
 0.2851839575610624,
 1.2851839575610624,
 2.2851839575610624,
 3.2851839575610624,
 4.285183957561062,
 5.285183957561062,
 6.285183957561062,
 7.285183957561062,
 8.285183957561063,
 9.285183957561063,
 10.285183957561063,
 11.285183957561063,
 12.285183957561063,
 13.285183957561063,
 14.285183957561063,
 15.285183957561063,
 16.285183957561063,
 17.285183957561063,
 18.285183957561063,
 19.285183957561063,
 20.285183957561063,
 21.285183957561063,
 22.285183957561063,
 23.285183957561063,
 24.285183957561063,
 25.285183957561063,
 26.285183957561063,
 27.285183957561063,
 28.285183957561063,
 29.285183957561063,
 30.285183957561063,
 31.285183957561063,
 32.28518395756106,
 33.28518395756106,
 34.28518395756106,
 35.28518395756106,
 36.28518395756106,
 37.28518395756106,
 38.28518395756106,
 39.28518395756106,
 40.28518395756106,
 41.28518395756106,
 42.28518395756106,
 43.28518395756106,
 44.28518395756106,
 45.28518395756106,
 46.28518395756106,
 47.28518395756106,
 48.28518395756106,
 49.28518395756106,
 50.28518395756106,
 51.28518395756106,
 52.28518395756106,
 53.28518395756106,
 54.28518395756106,
 55.28518395756106,
 56.28518395756106,
 57.28518395756106,
 58.28518395756106,
 59.28518395756106,
 60.28518395756106,
 61.28518395756106,
 62.28518395756106,
 63.28518395756106,
 64.28518395756106,
 65.28518395756106,
 66.28518395756106,
 67.28518395756106,
 68.28518395756106,
 69.28518395756106,
 70.28518395756106,
 71.28518395756106,
 72.28518395756106,
 73.28518395756106,
 74.28518395756106,
 75.28518395756106,
 76.28518395756106,
 77.28518395756106,
 78.28518395756106,
 79.28518395756106,
 80.28518395756106,
 81.28518395756106,
 82.28518395756106,
 83.28518395756106,
 84.28518395756106,
 85.28518395756106,
 86.28518395756106,
 87.28518395756106,
 88.28518395756106,
 89.28518395756106,
 90.28518395756106,
 91.28518395756106,
 92.28518395756106,
 93.28518395756106,
 94.28518395756106,
 95.28518395756106,
 96.28518395756106,
 97.28518395756106]

In [28]:
df.iloc[:,0]

0    13884
1    23008
2    17883
3    24435
4    49938
Name: Billy Beer, dtype: int64

In [30]:
# Specify a function to apply to the DataFrame
def zscore(series):
    result = (series - series.mean()) / series.std()
    return result

# Call Apply on the highest function
df.apply(zscore)

   Billy Beer  Lucky Lager  Triple Bock
0   -0.846287    -0.749893     0.823088
1   -0.199897     1.501026     0.128594
2   -0.562978     0.384023    -1.729080
3   -0.098801    -1.010759     0.472659
4    1.707962    -0.124397     0.304739

In [43]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
# filter func : used to filter out elements that satisfy some condition from a list/array

In [49]:
print(list(filter(lambda x : x %2!=0,l)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [50]:
# map : used to apply a lambda func on a list

In [54]:
def add_5(x):
    return x+5

In [65]:
df.columns

Index(['Billy Beer', 'Lucky Lager', 'Triple Bock'], dtype='object')

In [40]:
a=lambda x : x*x

In [41]:
df.apply(a)

   Billy Beer  Lucky Lager  Triple Bock
0   192765456   1194739225   1598960169
1   529368064   7045587844   1261102144
2   319801689   3532756969    554225764
3   597069225    831918649   1423477441
4  2493803844   2331441225   1343002609

In [33]:
def func1(x):
    return x*x

In [60]:
df.iloc[:,0:2].apply(func1)

   Billy Beer  Lucky Lager
0   192765456   1194739225
1   529368064   7045587844
2   319801689   3532756969
3   597069225    831918649
4  2493803844   2331441225

In [11]:
# The same result values as using scipy stats zscore with
# a dynamic degrees of freedom of 1 
stats.zscore(df, ddof=1)

array([[-0.84628719, -0.74989281,  0.82308764],
       [-0.19989653,  1.50102567,  0.12859386],
       [-0.56297765,  0.38402339, -1.72907998],
       [-0.09880057, -1.01075918,  0.47265927],
       [ 1.70796194, -0.12439706,  0.30473921]])

In [70]:
# Calculate inter quartile range with a lambda expression
df.apply(lambda x: x.quantile(q=.75) - x.quantile(q=.25))

Billy Beer      6552.0
Lucky Lager    24872.0
Triple Bock     2217.0
dtype: float64